.icon {
    display: inline-block;
    background: url("../img/sprite.png") no-repeat;
    width: 198px;
    height: 181px;
    background-size:198px 181px;
}
.i-bbcs {
    width: 103px;
    height: 83px;
    background-position:0px 0px;
}
.i-lw {
    width: 94px;
    height: 88px;
    background-position:0px -93px;
}
.i-yz {
    width: 85px;
    height: 90px;
    background-position:-113px 0px;
}
